<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title th:utext="'Welcome to ' + ${appName} + ' Home'"></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h1>
    Hello, <span th:text=${appName}></span>
</h1>
<hr>
<div>
    <a href="/blog">/blog</a>
</div>
<hr>
<div>
    <h3>Logout</h3>
    <div>
        <form id="logout-form" action="/logout" method="post">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

            <button type="submit">Logout</button>
        </form>


    </div>
</div>
</body>
</html>